<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xin Yao Resume</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  	</script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/personal_info/index">Xin(Bob) Yao</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#resume">Resume</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" id="resume">Resume
                    <small>Photo by <a href="https://www.linkedin.com/in/tristazhang/en">Trista</a></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="center-block" style="text-align: center" src="<%= image_url('IMG_4361.JPG')%>" alt="Xin Yao">
            </div>

            <div class="col-md-4">
                <h3>Personal Description</h3>
                <p>Hello! I am Looking for jobs in Computer Science related fields. You can reach me out at <a href="https://www.linkedin.com/in/xin-bob-yao-972bab100">Linkedin.</a></p>
                <h3>Education Background</h3>
                <ul>
                    <li>Brandeis University <small><i>Sep 2015 - Dec 2016</i></small>
                      <ul>
                        <li>Master of Arts in Computer Science</li>
                      </ul>
                    </li>
                    <li>Ball State University <small><i>Sep 2011 - Jul 2015</i></small>
                      <ul>
                        <li>Bachelor Degree in Computer Science</li>
                      </ul>
                    </li>
                </ul>
                <h3>Course Experience</h3>
                <ul>
                    <li>Algorithms, Mathematics, Operating Systems (C, C++, Java)</li>
                    <li>Database Management (data mining, database design, SQL query)</li>
                    <li>Web Programming (HTML5, CSS, JavaScript, PHP, Ruby on Rails, C#)</li>
                    <li>Natural Language Processing, Information Retrieval (Python)</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header" id="projects">Course Projects</h3>
            </div>

            <div class="col-sm-4 col-xs-6">
                <p>Brandeis Campus GPS</p>
                <a href="https://www.campusgps.com">
                    <img class="img-responsive portfolio-item" src="<%= image_url('brandeis_edu.jpg')%>" alt="Brandies Campus GPS">
                </a>
            </div>

            <div class="col-sm-4 col-xs-6">
                <p>News Focus</p>
                <a href="https://github.com/XinYao1992/newsfocus">
                    <img class="img-responsive portfolio-item" src="<%= image_url('news-500x300.jpg')%>" alt="NewsFocus">
                </a>
            </div>

            <div class="col-sm-4 col-xs-6">
                <p>Brandeis Independent Study</p>
                <a href="http://giangnguyen94.github.io/SeniorFieldProject/">
                    <img class="img-responsive portfolio-item" src="<%= image_url('red-line-chart-arrow.jpg')%>" alt="Brandeis Senior Field Project">
                </a>
            </div>

        </div>

        <!-- Contact Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header" id="contact">Contact me</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <address>
                  <strong>Home</strong><br>
                  75 Maple Street<br>
                  Waltham, MA 02453<br>
                  <abbr title="Phone">P:</abbr> (781) 354-4854
                </address>
                <address>
                  <strong>Xin (Bob) Yao</strong><br>
                  <a href="mailto:#">xyao2@hotmail.com</a>
                </address>
            </div>

        </div>


        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Xin Yao 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
